typesense
fastapi
uvicorn[standard]
gunicorn
python-dotenv
pydantic
langchain
langchain-core
langchain-fireworks
langgraph
langchain-groq
langchain-cerebras
langsmith
agentevals
supabase
httpx

valkey
structlog
